<footer class="sticky-footer bg-white" style="width: 100%;">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Cyberon for INNOVATE for ASSAM 2020</span>
      </div>
    </div>
  </footer>