<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="Jerin Joseph" content="">

  <title>Snimoz | Control Panel</title>

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="css/style.min.css" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('sidebar.ejs') %>
    <!-- End of Sidebar -->

    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('topbar.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

              <!-- Page Heading -->
              <h1 class="h3 mb-2 text-gray-800">Publish Alert/Message</h1>
              <p class="mb-4">Type in the message you want to publish to the users.
              </p>

            <div class="publish-alert" style="text-align: center;">
                <form onsubmit="sendNotification()" class="alertform" style="padding: 10rem;">
                    <label style="font-size:2rem;">Enter the message you want to publish</label>
                    <input autocomplete="off" id="notification-message" onkeydown="return event.key != 'Enter';" type="text" placeholder="Message" style="width:23rem;margin-top:.5rem;color: #535353;background-color: #fff;border: 1px solid #cccdd1;padding:.25rem .5rem;font-size: 1rem;line-height:1.5;border-radius: .2rem;height:2.5rem">
                    <button class="btn btn-primary" type="submit" style="display: block;margin-left:36%;margin-top:1.5rem;">
                        Publish Message&nbsp;
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </button>
                </form>
            </div>

          </div>

      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include('footer.ejs') %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <%- include('logoutModal.ejs') %>

  <!-- Map Modal-->
  <div id="myModal" class="map-modal">
    <div class="map-modal-content">
      <span class="map-close">&times;</span>
      <p>Violations are pinned as red. However too close locations are unable to view due to zoom limitations.<br>Click on pins to view the time of violation.</p>
      <div id="map" style = "width:750px; height:500px"></div>
      <div class="modal-details">
        <p>Number of violations: <span id="vcount"></span></p>
        <button class="btn btn-sm btn-danger shadow-sm">Register case</button>
      </div>
    </div>  
  </div>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/script.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="/js/alert.js"></script>
</body>
</html>






