    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
          <div class="sidebar-brand-text mx-3">Snimoz<br><span style="font-size: 10px;letter-spacing: 2px;">Control Panel</span></div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Utilities
        </div>
  
        <li class="nav-item">
          <a class="nav-link" href="/currentlyMoving">
            <i class="fa fa-car"></i>
            <span>Current Moving Vehicles</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/zoneViolation">
            <i class="fa fa-times-circle"></i>
            <span>Zone Violations</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/speedViolation">
            <i class="fa fa-bolt"></i>
            <span>Speed Violations</span></a>
        </li>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa fa-exclamation-triangle"></i>
            <span>Restricted Zones</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">View/Add/Delete Zones:</h6>
              <a class="collapse-item" href="/addZone">Add</a>
              <a class="collapse-item" href="/viewZone">View/Delete</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addEntryExit">
            <i class="fa fa-map-pin"></i>
            <span>Add Entry/Exit points</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/publishAlert">
            <i class="fa fa-bell"></i>
            <span>Publish Alerts</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/complaints">
            <i class="fa fa-inbox"></i>
            <span>Complaints & Feedback</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->